.grid-container {
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 100px auto;
    grid-template-areas:
        "sidebar main"
        "footer footer";
    height: 100vh;
    margin-top: 50px;
}

.header {
    grid-area: header;
    background-color: rgb(238, 195, 79);
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: rgb(126, 205, 125);
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(13, 144, 24);
    padding: 10px;
}

.main {
    grid-area: main;
    background-color: rgb(233, 7, 131);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-body {
    background-color: bisque;
}

.container {
    margin-top: 50px;
}